h1{
    color:red;
}
button{
    color:grey;
    width: 120px;
    height: 40px;
}
input{
    color:red;
}
table{
    position: sticky;
    align-self: center;
    left:700px; 
    top:20px;
    color: black;
    width: 500px;
    border-color: black;
}